<div class="__content">
    <div class="__table">
        <div class="__row __head">
            <span>mon</span>
            <span>tue</span>
            <span>web</span>
            <span>thu</span>
            <span>fri</span>
            <span>sat</span>
            <span>sun</span>
        </div>
        {{#dates}}
        <div class="__row">
            {{#row1}}
            <span data-date="{{.}}">{{.}}</span>
            {{/row1}}
        </div>
        <div class="__row">
            {{#row2}}
            <span data-date="{{.}}">{{.}}</span>
            {{/row2}}
        </div>
        <div class="__row">
            {{#row3}}
            <span data-date="{{.}}">{{.}}</span>
            {{/row3}}
        </div>
        <div class="__row">
            {{#row4}}
            <span data-date="{{.}}">{{.}}</span>
            {{/row4}}
        </div>
        <div class="__row">
            {{#row5}}
            <span data-date="{{.}}">{{.}}</span>
            {{/row5}}
        </div>
        {{/dates}}
    </div>
</div>